<div>
  <blockquote>
    <div dir="ltr">
      <div
        lang="en"
        style="
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
          background: #ffffff;
        "
        role="article"
        xml:lang="en"
      >
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp;
        <img
          src="https://share1.cloudhq-mkt3.net/043d32156f8811.jpeg"
          alt=""
          width="243"
          height="64"
        />
        <br />
        <table
          class="w-100p"
          style="height: 742px"
          border="0"
          width="700"
          cellspacing="0"
          cellpadding="0"
          align="center"
        >
          <tbody>
            <tr style="height: 10px">
              <td style="height: 10px; width: 640px">&nbsp;</td>
            </tr>
            <tr style="height: 411px">
              <td style="height: 411px; width: 640px">
                <div
                  dir="ltr"
                  style="
                    display: table;
                    margin: 0px auto;
                    width: 100%;
                    max-width: 700px;
                    background: #fcc87e;
                    font-size: 0px;
                    text-align: left;
                    padding-top: 10px;
                  "
                >
                  <div
                    dir="ltr"
                    style="
                      display: table;
                      margin: 0px auto;
                      width: 100%;
                      max-width: 600px;
                      background: #fcc87e;
                      font-size: 0px;
                      text-align: left;
                      padding-top: 10px;
                    "
                  >
                    <!-- [if mso]>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" style="width: 700px;height:260px; background-color: #F2F8DE;">
              <tr>
<td> <table role="presentation" border="0" cellpadding="0" cellspacing="0" align="center" style="width: 600px;height:260px; background-color: #F2F8DE;">
              <tr>
                <td style="width: 370px; text-align: left;padding:8px 0 0 0;vertical-align:top">
                  <![endif]-->
                    <div
                      class="max-w-full"
                      style="
                        display: inline-block;
                        max-width: 370px;
                        vertical-align: top;
                        text-align: left;
                        width: 100%;
                      "
                    >
                      <p style="margin: 20px 32px 10px 32px">
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <br />&nbsp; &nbsp; &nbsp;
                        <a
                          href="https://share1.cloudhq-mkt3.net/12e1aae6b90d9b.png"
                          target="_blank"
                          rel="noopener"
                        ></a>
                      </p>
                      <div>
                        <p>Afrilish</p>
                        <p>
                          p&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                        </p>
                      </div>
                      <p
                        style="
                          margin: 0px 32px 0 32px;
                          font-size: 20px;
                          line-height: 1.3;
                          color: #263648;
                          font-weight: bold;
                        "
                      >
                        <span style="font-size: 12pt">Hi {{name}},&nbsp;</span>
                        <br />
                        <br />
                        <span style="font-size: 12pt">
                          Congrats!!! you are now verified, you can login now.
                          <br />
                        </span>
                      </p>
                      <p
                        class="max-w-full"
                        style="
                          margin: 2px 32px 0px 32px;
                          color: #263648;
                          line-height: 1.3;
                          font-size: 15px;
                          max-width: 300px;
                        "
                      >
                        <span style="font-size: 12pt">We look forward to having
                          you use the platform for your delivery needs.</span>
                        <br />
                      </p>
                      <p style="margin: 16px 32px 24px 32px; font-size: 16px">
                        <span style="color: #000000">
                          <a
                            href="https://email.afrilish.com/uni/track?uid=fbcff974-310f-490a-8258-8772b2fe653b&amp;txnid=4d6360bf-9d5d-40c3-9000-e0d21d6499bb&amp;bsft_aaid=d765835d-d996-40bb-9a98-fc470c0a454a&amp;eid=9f7df5ac-db43-a827-a1e4-19cb1e5fa6c9&amp;mid=e8640b04-eee7-44c2-90c8-60fd0399f1df&amp;bsft_ek=2024-01-04T08%3A08%3A13Z&amp;bsft_mime_type=html&amp;bsft_tv=31&amp;bsft_lx=4&amp;a=click&amp;redir=https%3A%2F%2Fapp.afrilish.com%2Foffers%3Futm_campaign%3Deml_lc_nrpt_weekly_2021_05_05%26utm_source%3Dblueshift%26utm_medium%3Demail%26utm_content%3Deml_lc_nrpt_betterscore_rebuild_test_2023_08_16"
                            deeplink="true"
                            class="text-center"
                            style="
                              line-height: 1;
                              font-weight: bold;
                              text-decoration: none;
                              color: #000000;
                              padding: 12px 16px;
                              border-radius: 6px;
                              display: inline-block;
                              border: 1px solid #0f81a3;
                              box-shadow: rgba(0, 0, 0, 0.42) 0px 3px 5px 0px;
                            "
                          >3 4 5 6</a>
                        </span>
                        <br />
                        <br />Please contact Afrilish Support if you have any
                        queries.
                        <br />
                        <br />Cheers,
                        <br />Afrilish Team
                        <br />
                        <a
                          target="_blank"
                          class="c-link"
                          data-stringify-link="http://www.afrilish.com"
                          delay="150"
                          data-sk="tooltip_parent"
                          href="http://www.afrilish.com"
                          rel="noopener noreferrer"
                        >www.afrilish.com</a>
                        <a
                          href="https://email.afrilish.com/uni/track?uid=fbcff974-310f-490a-8258-8772b2fe653b&amp;txnid=4d6360bf-9d5d-40c3-9000-e0d21d6499bb&amp;bsft_aaid=d765835d-d996-40bb-9a98-fc470c0a454a&amp;eid=9f7df5ac-db43-a827-a1e4-19cb1e5fa6c9&amp;mid=e8640b04-eee7-44c2-90c8-60fd0399f1df&amp;bsft_ek=2024-01-04T08%3A08%3A13Z&amp;bsft_mime_type=html&amp;bsft_tv=31&amp;bsft_lx=5&amp;a=click&amp;redir=https%3A%2F%2Fapp.afrilish.com%2Foffers%3Futm_campaign%3Deml_lc_nrpt_weekly_2021_05_05%26utm_source%3Dblueshift%26utm_medium%3Demail%26utm_content%3Deml_lc_nrpt_betterscore_rebuild_test_2023_08_16"
                          deeplink="true"
                          style="text-decoration: none"
                        >&nbsp;</a>
                        <br />
                      </p>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr style="height: 17px">
              <td style="width: 640px; height: 17px">&nbsp;</td>
            </tr>
            <tr style="height: 304px">
              <td style="height: 304px; width: 640px">
                <table
                  class="w-100p"
                  style="height: 152px; width: 643px"
                  border="0"
                  width="643"
                  cellspacing="0"
                  cellpadding="0"
                  align="center"
                >
                  <tbody>
                    <tr style="height: 289px">
                      <td style="width: 640px; height: 289px">
                        <div
                          id="footer"
                          style="
                            margin: 0 auto;
                            max-width: 700px;
                            background-color: #ffffff;
                            text-align: center;
                          "
                        >
                          <div
                            style="
                              display: inline-block;
                              font-size: 10px;
                              line-height: 1.5;
                              color: #263648;
                              padding-top: 32px;
                              padding-bottom: 32px;
                            "
                          >
                            <p
                              style="
                                margin: 20px 16px 0 16px;
                                font-size: 14px;
                                font-weight: bold;
                              "
                            >
                              Afrilish is an innovative african food and event
                              marketplace
                              <br />
                              <br />&nbsp; &nbsp; &nbsp;
                              <a
                                href="https://www.facebook.com/people/Afrilish/61555258895191/?mibextid=LQQJ4d"
                                target="_blank"
                                rel="noopener"
                                title="facebook"
                              >
                                <img
                                  src="https://share1.cloudhq-mkt3.net/a9e250f73e27e7.png"
                                  alt=""
                                  width="28"
                                  height="28"
                                />&nbsp;
                              </a>
                              &nbsp; &nbsp;
                              <a
                                href="https://www.instagram.com/Afrilish"
                                title="instagram"
                              >
                                <img
                                  src="https://share1.cloudhq-mkt3.net/6873d4f2b2bc5e.png"
                                  alt=""
                                  width="43"
                                  height="31"
                                />
                              </a>
                              &nbsp; &nbsp; &nbsp;
                              <a
                                href="https://twitter.com/afrilishuk_"
                                target="_blank"
                                rel="noopener"
                                title="twitter"
                              >
                                <img
                                  src="https://share1.cloudhq-mkt3.net/181afc8527ad67.png"
                                  alt=""
                                  width="28"
                                  height="28"
                                />
                              </a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                              <a
                                href="https://www.tiktok.com/@afrilish"
                                target="_blank"
                                rel="noopener"
                                title="tiktok"
                              >
                                <img
                                  src="https://share1.cloudhq-mkt3.net/12440b7ee9101d.png"
                                  alt=""
                                  width="33"
                                  height="33"
                                />
                              </a>
                              &nbsp; &nbsp; &nbsp;
                              <br />
                            </p>
                            <p style="margin: 20px 16px 0 16px">
                              © 2023 Afrilish Ltd. 82 king street, Manchester,
                              M2 4WQ
                            </p>
                            <p style="margin: 4px 16px 0 16px">
                              Approved by the Food Standards Agency (FSA) |
                              Member of the UK Home Delivery Association (UKHDA)
                              | Compliant with GDPR Regulations
                            </p>
                            <p
                              style="
                                margin: 20px 16px 0 16px;
                                line-height: 2.5;
                                font-weight: bold;
                              "
                            >
                              <a
                                href="https://email.afrilish.com/z/f5lz429r8?uid=fbcff974-310f-490a-8258-8772b2fe653b&amp;txnid=4d6360bf-9d5d-40c3-9000-e0d21d6499bb&amp;mid=e8640b04-eee7-44c2-90c8-60fd0399f1df&amp;bsft_ek=2024-01-04T08%3A08%3A13Z&amp;bsft_mime_type=html&amp;bsft_tv=31&amp;bsft_lx=18"
                                style="color: #263648; text-decoration: none"
                              >Help&nbsp;centre</a>
                              &nbsp;&nbsp;|&nbsp;&nbsp;
                              <a
                                href="https://email.afrilish.com/uni/z/oijvx77ob?uid=fbcff974-310f-490a-8258-8772b2fe653b&amp;txnid=4d6360bf-9d5d-40c3-9000-e0d21d6499bb&amp;mid=e8640b04-eee7-44c2-90c8-60fd0399f1df&amp;bsft_ek=2024-01-04T08%3A08%3A13Z&amp;bsft_mime_type=html&amp;bsft_tv=31&amp;bsft_lx=19"
                                deeplink="true"
                                style="color: #263648; text-decoration: none"
                              >Forgot&nbsp;your&nbsp;password?</a>
                              &nbsp;&nbsp;|&nbsp;&nbsp;
                              <a
                                href="https://email.afrilish.com/uni/z/da9uw5wsm?uid=fbcff974-310f-490a-8258-8772b2fe653b&amp;txnid=4d6360bf-9d5d-40c3-9000-e0d21d6499bb&amp;mid=e8640b04-eee7-44c2-90c8-60fd0399f1df&amp;bsft_ek=2024-01-04T08%3A08%3A13Z&amp;bsft_mime_type=html&amp;bsft_tv=31&amp;bsft_lx=20"
                                deeplink="true"
                                style="color: #263648; text-decoration: none"
                              >Update&nbsp;preferences</a>
                              <span
                                class="hide"
                              >&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                              <br class="show" style="display: none" />
                              <a
                                href="https://email.afrilish.com/z/8k0x11ay2?uid=fbcff974-310f-490a-8258-8772b2fe653b&amp;txnid=4d6360bf-9d5d-40c3-9000-e0d21d6499bb&amp;mid=e8640b04-eee7-44c2-90c8-60fd0399f1df&amp;bsft_ek=2024-01-04T08%3A08%3A13Z&amp;bsft_mime_type=html&amp;bsft_tv=31&amp;bsft_lx=22"
                                style="color: #263648; text-decoration: none"
                              >Privacy&nbsp;policy</a>
                              &nbsp;&nbsp;|&nbsp;&nbsp;
                              <a
                                href="https://email.afrilish.com/email_browser_view?uid=fbcff974-310f-490a-8258-8772b2fe653b&amp;mid=e8640b04-eee7-44c2-90c8-60fd0399f1df&amp;txnid=4d6360bf-9d5d-40c3-9000-e0d21d6499bb&amp;eid=9f7df5ac-db43-a827-a1e4-19cb1e5fa6c9&amp;bsft_ek=2024-01-04T08%3A08%3A13Z&amp;bsft_aaid=d765835d-d996-40bb-9a98-fc470c0a454a&amp;bsft_mime_type=html&amp;bsft_tv=31&amp;bsft_lx=23"
                                style="color: #263648; text-decoration: none"
                              >View&nbsp;online</a>
                              &nbsp;&nbsp;|&nbsp;&nbsp;
                              <a
                                href="https://email.afrilish.com/z/1q8juyps4?uid=fbcff974-310f-490a-8258-8772b2fe653b&amp;txnid=4d6360bf-9d5d-40c3-9000-e0d21d6499bb&amp;mid=e8640b04-eee7-44c2-90c8-60fd0399f1df&amp;bsft_ek=2024-01-04T08%3A08%3A13Z&amp;bsft_mime_type=html&amp;bsft_tv=31&amp;bsft_lx=24"
                                style="color: #263648; text-decoration: none"
                              >Why can't I unsubscribe</a>
                              <br />
                            </p>
                          </div>
                          <!-- [if mso]>
      </td>
    </tr>
  </table>
  <![endif]-->
                        </div>
                        <!-- template id: eml_lc_nrpt_betterscore_rebuild_test_2023_08_16 -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <img
        style="
          margin: 0 !important;
          padding: 0 !important;
          border: 0 !important;
          height: 1px !important;
          width: 1px !important;
        "
        src="https://email.afrilish.com/track?uid=fbcff974-310f-490a-8258-8772b2fe653b&amp;txnid=4d6360bf-9d5d-40c3-9000-e0d21d6499bb&amp;bsft_aaid=d765835d-d996-40bb-9a98-fc470c0a454a&amp;eid=9f7df5ac-db43-a827-a1e4-19cb1e5fa6c9&amp;mid=e8640b04-eee7-44c2-90c8-60fd0399f1df&amp;bsft_ek=2024-01-04T08%3A08%3A13Z&amp;bsft_tv=31&amp;bsft_mime_type=html&amp;a=open"
        alt=""
        width="1px"
        height="1px"
        border="0"
        data-bsft-open-pixel=""
        data-unique-identifier=""
      />
      <img
        src="https://sptracking.getblueshift.com/q/SU3rR5uU-2f1jwcUCwBO4g~~/AAE39QA~/RgRneOxuPlcDc3BjQgpllW5nlmUDSnKAUg9lemVfZEB5YWhvby5jb21YBAAAAA0~"
        alt=""
        width="1"
        height="1"
        border="0"
        data-unique-identifier=""
      />
    </div>
  </blockquote>
</div>
<div>&nbsp;</div>
<style>
  u + #body .gmail-blend-screen { background: rgb(0, 0, 0); mix-blend-mode:
  screen; } u + #body .gmail-blend-difference { background: rgb(0, 0, 0);
  mix-blend-mode: difference; } body { -webkit-font-smoothing: antialiased;
  height: 100% !important; width: 100% !important; margin: 0px !important;
  padding: 0px !important; } u + #body { width: 100vw !important; max-width:
  100% !important; } .hero_background_image br { display: none; } .max-w-full {
  max-width: 100% !important; } .w-50p { width: 50% !important; } .w-80p {
  width: 80% !important; } .w-90p { width: 90% !important; } .w-100p { width:
  100% !important; } .show { display: block !important; } .mb-show { width: 100%
  !important; max-height: none !important; display: inline-table !important;
  line-height: 1.5 !important; visibility: visible !important; overflow: visible
  !important; } .mobile-img { width: 100% !important; max-height: none
  !important; display: block !important; line-height: normal !important;
  visibility: visible !important; } .mobile-show-ss { width: 100% !important;
  max-height: none !important; display: block !important; line-height: normal
  !important; visibility: visible !important; overflow: visible !important; }
  .mobile-show-au-ex { width: 100% !important; max-height: none !important;
  display: inline-table !important; line-height: normal !important; visibility:
  visible !important; overflow: visible !important; } .hauto { height: auto
  !important; } .hide { display: none !important; } .text-center { text-align:
  center !important; } .mx-0 { margin-left: 0px !important; margin-right: 0px
  !important; } .mx-10 { margin-left: 10px !important; margin-right: 10px
  !important; } .mx-16 { margin-left: 16px !important; margin-right: 16px
  !important; } .mx-20 { margin-left: 20px !important; margin-right: 20px
  !important; } .mx-32 { margin-left: 32px !important; margin-right: 32px
  !important; } .mr-72 { margin-right: 72px !important; } .mt-16 { margin-top:
  16px !important; } .mt-24 { margin-top: 24px !important; } .mt-32 {
  margin-top: 32px !important; } .mt-64 { margin-top: 64px !important; } .mt-0 {
  margin-top: 0px !important; } .mb-16 { margin-bottom: 16px !important; } .mb-0
  { margin-bottom: 0px !important; } .pb-64 { padding-bottom: 64px !important; }
  .pl-24 { padding-left: 24px !important; } .px-32 { padding-left: 32px
  !important; padding-right: 32px !important; } .py-32 { padding-top: 32px
  !important; padding-bottom: 32px !important; } .open-banking-panel {
  background-image:
  url("https://cdn.getblueshift.com/pictures/102765/content/credit-cards-faded.png")
  !important; } @font-face { font-family: CSClarity; src:
  url("https://cdn2-fs.afrilish.com/global-website/fonts/cs-clarity-regular.woff2")
  format("woff2"); font-display: swap; font-weight: normal; font-style: normal;
  } @font-face { font-family: CSClarity; src:
  url("https://cdn2-fs.afrilish.com/global-website/fonts/cs-clarity-bold.woff2")
  format("woff2"); font-display: swap; font-weight: bold; font-style: normal; }
  * { font-family: CSClarity, "Helvetica Neue", Helvetica, Arial, sans-serif
  !important; }
</style>